*
!.gitignore
!acties/
acties/*
!acties/.gitignore
!avatars/
avatars/*
!avatars/.gitignore
!books/
books/*
!books/.gitignore
!organizers/
organizers/*
!organizers/.gitignore
!referenties/
referenties/*
!referenties/.gitignore
!reports/
reports/*
!reports/.gitignore