@use "tailwindcss";
@use "tailwindcss-primeui";
@use "fonts";
@use "editor";

/* stylelint-disable-next-line */
@custom-variant dark (&:where(.app-dark, .app-dark *));

:root{
  // WKID blue
  --color-blue-50: #f2f5ff;
  --color-blue-100: #e4ebff;
  --color-blue-200: #c6dcff;
  --color-blue-300: #a1c3ff;
  --color-blue-400: #729fff;
  --color-blue-500: #006eff;
  --color-blue-600: #0073e4;
  --color-blue-700: #0063c6;
  --color-blue-800: #0050a1;
  --color-blue-900: #003772;
}

:root {
  --wkid-red: #e11d00;
  --wkid-pink: #f30060;
  --wkid-pink-90: #f30060e6;
  --wkid-yellow: #fdd10d;
  --wkid-red-dark: #aa1700;
  --wkid-pink-dark: #ad0246;
  --wkid-yellow-dark: #c9a400;
  --wkid-red-light: #e66956;
  --wkid-pink-light: #f34e90;
  --wkid-yellow-light: #ffdf50;
  --wkid-message-success: #45da20;
  --wkid-message-error: var(--wkid-red);
  --wkid-message-success-dark: #237210;
  --wkid-message-error-dark: var(--wkid-red-dark);
  --wkid-message-success-light: #e0fbd9;
  --wkid-message-error-light: #ffc5bd;
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  .prose {
    & h1,
    h2,
    h3 {
      @apply mb-5;
    }

    & p {
      @apply mb-4;
    }
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select,
  div.like-form-field {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border
      border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none
      focus:bg-white focus:border-gray-500 focus:disabled:bg-gray-200
      focus:disabled:border-gray-200 focus:disabled:ring-0;
  }

  [type="checkbox"] {
    @apply text-primary border-gray-300 rounded-xl shadow-sm
      focus:border-primary focus:ring focus:ring-offset-0
      focus:ring-blue-600/50;
  }

  [v-cloak] {
    display: none;
  }

  p,
  label,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & a {
      @apply font-medium transition duration-150 ease-in-out text-primary focus:outline-none hover:underline hover:text-blue-700;
    }
  }

  a.link {
    @apply font-medium transition duration-150 ease-in-out text-primary-600 hover:text-primary focus:outline-none focus:underline;
  }

  button,
  a {
    &.primary {
      @apply flex justify-center px-4 py-2 text-sm font-medium cursor-pointer text-white transition duration-150 ease-in-out border border-transparent rounded-md bg-blue-600 hover:bg-blue-500 active:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed;
    }

    &.secondary {
      @apply flex justify-center px-4 py-2 text-sm font-medium cursor-pointer text-primary-600 transition duration-150 ease-in-out border rounded-md border-blue-600 hover:bg-blue-200;
    }

    &.secondary-white {
      @apply flex justify-center px-4 py-2 text-sm font-medium cursor-pointer text-white transition duration-150 ease-in-out border rounded-md border-white hover:bg-white/30;
    }

    &.gray {
      @apply flex justify-center px-4 py-2 text-sm font-medium cursor-pointer text-gray-600 transition duration-150 ease-in-out border border-transparent rounded-md bg-gray-200 hover:bg-gray-300;
    }

    &.pink {
      @apply flex justify-center px-4 py-2 text-sm font-medium cursor-pointer text-white transition duration-150 ease-in-out border border-transparent rounded-md bg-(--wkid-pink) hover:bg-[color:var(--wkid-pink-dark)] disabled:bg-gray-400 disabled:cursor-not-allowed;
    }
  }
}

[x-cloak] {
  display: none;
}

/****** Standard Elements **********/

html {
  font-family:
    Ubuntu,
    Outfit,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, Outfit, ui-sans-serif, system-ui, sans-serif;
  font-weight: 600;
}

.html-output {
  & ol,
  ul {
    padding-left: 40px;
    list-style: revert;
  }

  & p {
    margin-bottom: 1em;
  }
}

.gradient-border-b,
#header.detatched {
  padding-bottom: 2px;
  background: linear-gradient(to right, var(--wkid-pink), var(--color-primary)) left
    bottom #fff no-repeat;
  background-size: 100% 2px;
}

#header.detatched {
  background-color: white;
  color: #111;
  top: 0;

  & #header-logo-link {
    color: #111;
  }
}

#header.fixed:not(.detatched) {
  & .header-icon button {
    color: white;

    &:hover {
      background: #ffffff3d;
    }

    &:focus {
      color: #1f2937;
      background: white;
    }
  }

  & .transparent-button a {
    color: white;
    border-color: white;

    &:hover {
      background: #ffffff3d;
    }
  }
}

.alert-success {
  color: var(--color-green-800);
  background: var(--color-green-100);
}

.alert-warning {
  color: var(--color-yellow-800);
  background: var(--color-yellow-100);

  & a {
    @apply font-medium transition duration-150 underline ease-in-out focus:outline-none focus:underline;
  }
}

#actiewijzer-banner {
  position: relative;
  background: var(--wkid-pink);
  background: linear-gradient(to top left, var(--wkid-pink), #91368b);
  opacity: 0.9;
  width: 100%;
}

span[role="alert"] {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--wkid-message-error-dark);
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }

  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}

/****** Form Input CLASSES **********/

.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  background-repeat: no-repeat;
}

div.custom-loader {
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;

  &.dark {
    border: 4px solid #333;
    border-top: 4px solid transparent;
  }

  &.large {
    width: 40px;
    height: 40px;
  }
}
