@import "fonts";
@import "editor";

:root {
  --wkid-red: #e11d00;
  --wkid-pink: #f30060;
  --wkid-purple: #d810b1;
  --wkid-indigo: #805def;
  --wkid-blue: #0081ff;
  --wkid-yellow: #fdd10d;
  --wkid-red-dark: #aa1700;
  --wkid-pink-dark: #ad0246;
  --wkid-purple-dark: #9c1c83;
  --wkid-indigo-dark: #5b3cc2;
  --wkid-blue-dark: #0f5ead;
  --wkid-yellow-dark: #c9a400;
  --wkid-red-light: #e66956;
  --wkid-pink-light: #f34e90;
  --wkid-purple-light: #d354ba;
  --wkid-indigo-light: #9986d6;
  --wkid-blue-light: #4fa7ff;
  --wkid-yellow-light: #ffdf50;
  --wkid-message-info: var(--wkid-blue);
  --wkid-message-warning: #ff8b1f;
  --wkid-message-success: #45da20;
  --wkid-message-error: var(--wkid-red);
  --wkid-message-info-dark: var(--wkid-blue-dark);
  --wkid-message-warning-dark: #ce6503;
  --wkid-message-success-dark: #237210;
  --wkid-message-error-dark: var(--wkid-red-dark);
  --wkid-message-info-light: var(--wkid-blue-light);
  --wkid-message-warning-light: #ffc38b;
  --wkid-message-success-light: #97ee82;
  --wkid-message-error-light: var(--wkid-red-light);
}

// Tailwind CSS
@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select,
  div.like-form-field {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border
      border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none
      focus:bg-white focus:border-gray-500 focus:disabled:bg-gray-200
      focus:disabled:border-gray-200 focus:disabled:ring-0;
  }

  [type="checkbox"] {
    @apply text-[color:var(--wkid-blue)] border-gray-300 rounded-xl shadow-sm
      focus:border-[color:var(--wkid-blue)] focus:ring focus:ring-offset-0
      focus:ring-blue-600 focus:ring-opacity-50;
  }
}

@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

/****** Standard Elements **********/

html {
  font-family:
    Ubuntu,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, ui-sans-serif, system-ui, sans-serif;
  font-weight: 600;
}

.gradient-border-b,
#header.detatched {
  padding-bottom: 2px;
  background: linear-gradient(to right, var(--wkid-pink), var(--wkid-blue)) left bottom #fff no-repeat;
  background-size: 100% 2px;
}

#header.detatched {
  background-color: white;
  color: #111;
  & #header-logo-link {
    color: #111;
  }
}
#header.fixed:not(.detatched) {
  & .header-icon button {
    color:white;
    &:hover {
      background: #ffffff3d;
    }
    &:focus {
      color: #1f2937;
      background: white;
    }
  }
  & .transparent-button a {
    color: white;
    border-color: white;
    &:hover {
      background: #ffffff3d;
    }
  }
}

svg {
  width: 100%;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #0069ff;
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}

#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }

  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }

  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}

@keyframes wave {
  to { transform: translateX(-100%); }
}

// .form-control{
//   @apply form-input w-full;
// }

/****** Form Input CLASSES **********/

.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  background-repeat: no-repeat;
}
