@font-face {
  font-family: HussarBold;
  src: url("../../../fonts/HussarBoldWebEdition-xq5O.otf");
}

@font-face {
  font-family: PolandBig;
  src: url("../../../fonts/PolandCanIntoBigWritings-18wL.otf");
}

@font-face {
  font-family: PolandBigOutline;
  src: url("../../../fonts/PolandCanIntoBigWritingsOutline-B9RV.otf");
}

@font-face {
  font-family: Ubuntu;
  src: url("../../../fonts/Ubuntu-Regular.ttf") format("ttf");
}
